@import url(../node_modules/modern-normalize/modern-normalize.css);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(4, 215, 215);
  background-color: #302e2e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin-left: 20px;
  display: flex;
}

p {
  margin: 0;
  color: rgb(124, 251, 251);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(6, 237, 237);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}